@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import 'tailwindcss';
@import './assets/colors.css';

body {
  font-family: 'EB Garamond", serif';
}
